:root {
    --color-primary: #2584ff;
    --color-secondary: #00d9ff;
    --color-accent: #ff3400;
    --color-headings: #1b0760;
    --color-body: #918ca4;
    --color-border: #ccc;
    --border-radius: 40px;
  }
  
  /* Buttons */
  .icon_search {
    width: 3vw;
    fill: white;
    padding: 0;
}

  .btn {
    border-radius: 40px;
    border: 0;
    cursor: pointer;
    font-size: 2vw;
    font-weight: 600;
    margin: 1.5vw;
    padding: 2.5vw 3.8vw;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
  }
  
  .btn--primary {
    background: var(--color-primary);
    color: #fff;
  }
  
  .btn--primary:hover {
    background: #3a8ffd;
  }
  
  .btn--secondary {
    background: var(--color-secondary);
    color: #fff;
  }
  
  .btn--secondary:hover {
    background: #05cdf0;
  }
  
  .btn--accent {
    background: var(--color-accent);
    color: #fff;
  }
  
  .btn--accent:hover {
    background: #ec3000;
  }
  
  .btn--outline {
    background: #fff;
    color: var(--color-headings);
    border: 2px solid var(--color-headings);
  }
  
  .btn--outline:hover {
    background: var(--color-headings);
    color: #fff;
  }
  
  .btn--block {
    width: 100%;
    display: inline-block;
  }
  

  
  /* Inputs */
  .input {
    border-radius: var(--border-radius);
    border: 1px solid var(--color-border);
    color: royalblue;
    text-align: center;
    font-size: 3.5vw;
    outline: 0;
    padding: auto;
    padding-left: 0;
    padding-right: 0;
  }
  
  ::placeholder {
    color: #cdcbd7;
    font-size: 130%;
  }
  
  .input-group {
    border-radius: var(--border-radius);
    display: flex;
    margin: 2rem auto;
    margin-top: 10rem;
    margin-bottom: 0rem;
    max-width: 80vw;
    background-color: white;
  }
  
  .input-group .input {
    border: 0;
    flex-grow: 1;
    padding: 1.5rem 1rem;
  }
  
  .input-group .btn {
    margin: 4px;
  }
  
  @media screen and (min-width: 1024px) {
    .input {
      font-size: 2.5vw;
    }
    .input-group {
        max-width: 60vw;
        max-height: 6vw;
    }
    .btn {
        margin: 1vw 0;
        padding: 1vw 4vw;
      }
    #bob {
        max-width: 100vw;
        max-height: 4vw;
    }
    #btn {
        padding: 0.5vw 4vw;
    }
  }
  






#bob {
    max-width: 100vw;
    max-height: 10vw;
}
#btn {
    padding: 0.5vw 4vw;
}

.pre-made input {
    color: black;
    width: 100vw;
    max-height: 4vw;
}

.pre-made .btn--accent {
    background-color: black;
}

.pre-made .input-group {
    box-shadow: none;
    margin:2rem;
}

.pre-made {
    border: 2px solid black;

}
.icon_search2 {
    width: 2vw;
    fill: white;
    padding: 0;
}