.bob {
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f5;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hide {
    display: none;
}

body {
    margin: 0;
}

input {
    padding: 0.8rem;
    margin: 0.5rem;
    border: 1px solid #ced4d4;
    border-radius: 10px;
}

input:focus {
    outline: 0;
    border: 1px solid #86b7fe;
    box-shadow: 0 0 2px 2px  #b9d3fa;
}

button {
    color: white;
    background-color: #0d6efd;
    outline: 0;
    border: 0;
    border-radius: 1rem;
    width: 12rem;
    padding: 1rem;
}

a {
    text-decoration: none;
    color: rgb(89, 0, 255);
}