.params {
    z-index: 11;
    position: fixed;
    top: 10vh;
    left: 30vw;

    font-size: 200%;
    width: 40vw;
    height: 80vh;
    padding: 1rem;
    border-radius: 1rem;

    background-color: aliceblue;
    float: center;
}

.li_checkbox {
    list-style: none;
}

.items {
    font-size: 90%;
}


.explaination {
    color: aliceblue;
    font-style: italic;
    font-size: 200%;
    padding-right: 15vw;
    padding-left: 15vw;;
}

.box {
    color: black;
    text-decoration: none;
    font-size: 2vw;
    font-weight: bold;
}


.text {
    padding-top: 1vh;
    margin: 0;
}

.boux {
    z-index: 1;
    width: 22vw;
    height: 22vw;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    border-radius: 10px;

    border: 1px solid black;
    color: black;
    text-decoration: none;
    float: center;
    background-position: center;
    background-size: cover;
    transition: box-shadow 0.5s;
    
}
@keyframes shadowblue {
    0% {
        box-shadow: 0vw 0vw blue;
    }
    100% {
        box-shadow: 1.9vw 1.9vw blue;
    }
}

@keyframes shadowgreen {
    0% {
        box-shadow: 0vw 0vw green;
    }
    100% {
        box-shadow: 1.9vw 1.9vw green;
    }
}



#cambridge:hover {
    animation-name: shadowgreen;
    animation-duration: 0.5s;
    transition-timing-function: ease-in;
    box-shadow: 1.9vw 1.9vw green;
  }

#imperial:hover {
  animation-name: shadowblue;
  animation-duration: 0.5s;
  transition-timing-function: ease-in;
  box-shadow: 1.9vw 1.9vw blue;
}



@keyframes shadowpink {
    0% {
        box-shadow: 0vw 0vw pink;
    }
    100% {
        box-shadow: 1.9vw 1.9vw pink;
    }
}

@keyframes shadowred {
    0% {
        box-shadow: 0vw 0vw red;
    }
    100% {
        box-shadow: 1.9vw 1.9vw red;
    }
}



#oxford:hover {
    animation-name: shadowred;
    animation-duration: 0.5s;
    transition-timing-function: ease-in;
    box-shadow: 1.9vw 1.9vw red;
  }

#ucl:hover {
  animation-name: shadowpink;
  animation-duration: 0.5s;
  transition-timing-function: ease-in;
  box-shadow: 1.9vw 1.9vw pink;
}


.normal {
    font-size: 100%;
}

@keyframes back {
    0% {
        background-image: url(imgs/naassom-azevedo-Q_Sei-TqSlc-unsplash.jpg);
    }
    25% {
        background-image: url(imgs/brooke-cagle--uHVRvDr7pg-unsplash.jpg);
    }

    50% {
        background-image: url(imgs/grads-2.avif);
    }

    75% {
        background-image: url(imgs/vadim-sherbakov-d6ebY-faOO0-unsplash.jpg);
    }

    100% {
        background-image: url(imgs/naassom-azevedo-Q_Sei-TqSlc-unsplash.jpg);
    }
}

.main {
    animation-name: back;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    background-position: top;
    background-size: cover;
    width: 98.87vw;
    height: auto;
}

h2 {
    margin-top: 10vh;
    font-weight: bold;
    font-size: 200%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 5vh;
    margin-left: 2vh;
}


.grid {
    padding: 2vh;
    padding-bottom: 8vh;
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    grid-template-rows: repeat(1, 1fr);
    justify-content: space-evenly;
}

@media screen and (max-width: 1000px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 4fr);
    }
    
    .box {
        color: black;
        text-decoration: none;
        font-size: 7vw;
        font-weight: bold;
    }


    .text {
        padding-top: 3.5vh;
        margin: 0;
        text-decoration: none;
        color: black;
        font-size: 200%;
    }

    .boux {
        width: 77vw;
        height: 77vw;
        margin: auto;
        margin-bottom: 4vw;
    }
    h2 {
        font-size: 5vw;
    }
    @keyframes shadowblue {
        0% {
            box-shadow: 0vw 0vw blue;
        }
        100% {
            box-shadow: 2.5vw 2.5vw blue;
        }
    }
    
    @keyframes shadowgreen {
        0% {
            box-shadow: 0vw 0vw green;
        }
        100% {
            box-shadow: 2.5vw 2.5vw green;
        }
    }
    #cambridge:hover {
        animation-name: shadowgreen;
        animation-duration: 0.5s;
        transition-timing-function: ease-in;
        box-shadow: 2.5vw 2.5vw green;
      }
    
    #imperial:hover {
      animation-name: shadowblue;
      animation-duration: 0.5s;
      transition-timing-function: ease-in;
      box-shadow: 2.5vw 2.5vw blue;
    }
    @keyframes back {
        0% {
            background-image: url(imgs/naassom-azevedo-Q_Sei-TqSlc-unsplash.jpg);
        }
        25% {
            background-image: url(imgs/brooke-cagle--uHVRvDr7pg-unsplash.jpg);
        }
    
        50% {
            background-image: url(imgs/grads-2.avif);
        }
    
        75% {
            background-image: url(imgs/vasily-koloda-8CqDvPuo_kI-unsplash.jpg);
        }
    
        100% {
            background-image: url(imgs/naassom-azevedo-Q_Sei-TqSlc-unsplash.jpg);
        }
    }
    
    @keyframes shadowred {
        0% {
            box-shadow: 0vw 0vw red;
        }
        100% {
            box-shadow: 2.5vw 2.5vw red;
        }
    }

    @keyframes shadowpink {
        0% {
            box-shadow: 0vw 0vw pink;
        }
        100% {
            box-shadow: 2.5vw 2.5vw pink;
        }
    }

    #oxford:hover {
        animation-name: shadowred;
        animation-duration: 0.5s;
        transition-timing-function: ease-in;
        box-shadow: 2.5vw 2.5vw red;
    }

    #ucl:hover {
    animation-name: shadowpink;
    animation-duration: 0.5s;
    transition-timing-function: ease-in;
    box-shadow: 2.5vw 2.5vw pink;
    }
}

#cambridge {
    background-image: url(imgs/cambridge.png);
}

#imperial {
    background-image: url(imgs/imperial.png);
}

#ucl {
    background-image: url(imgs/ucl.png);
    object-fit: contain;
}

#oxford {
    background-image: url(imgs/oxford.png);
}

.hide {
    background-color: aliceblue;
    width: 50vw;
    min-width: auto;
    min-height: auto;
    border-radius: 5%;
    z-index: 12;
    position: fixed;
    top: 7.5vh;
    right: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}



.checkboxes {
    margin: 3vw;
    margin-top: 5vw;
}

.check {
    padding: 3%;
}

.num {
    width: 15vw;
    padding: 0.8rem;
    margin: 0.5rem;
    border: 1px solid #ced4d4;
    border-radius: 10px;
    margin: 1vw;
    min-width: auto;
}

.num:focus {
    outline: 0;
    border: 1px solid #86b7fe;
    box-shadow: 0 0 2px 2px  #b9d3fa;
}

.degree {
    min-width: 15vw;
    padding: 0.8rem;
    margin: 0.5rem;
    border: 0;
    margin: 1vw;
    font-size: 120%;
    border-radius: 10px;
}

.btns {
    margin-top: 5rem;
    color: white;
    background-color: #0d6efd;
    outline: 0;
    border: 0;
    z-index: 12;
    border-radius: 1rem;
    width: 12vw;
    min-width: auto;
    height: 7vh;
    padding: 1rem;
    margin-bottom: 3vw;
    margin: 2rem;
}
@media screen and (max-width: 1000px) {
    .hide {
        width: 80vw;
        right: 10vw;
    }
    .num,
    .lines {
        width: 50%;
    }
    .btns {
        width: 50%;

    }
}

#us {
    display: none;
}

#blue {
    background-color: royalblue;
}

.backblack {
    background-color: black;
    outline: 0;
    border: 0;
    text-decoration: none;
    color: white;
}
