<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/greet.css">
    <title>Document</title>
</head>
<body>
    <h2>{{ headers[0] }}</h2>
    {% for item in text[0] %}
        <p> - {{ item }}</p>
    {% endfor %}
    <h2>{{ headers[1] }}</h2>
    {% for item in text[1] %}
        <p> - {{ item }}</p>
    {% endfor %}
    <h2>{{ headers[2] }}</h2>
    {% for item in text[2] %}
        <p> - {{ item }}</p>
    {% endfor %}
    <h2>{{ headers[3] }}</h2>
    {% if country == 'UK' %}
        <p>Here is a link with a list of possible courses: <a href="{{text[3]}}">{{text[3]}}</a></p>
        <h2>{{ headers[4] }}</h2>
        {% for item in text[4] %}
          <a href={{item}}><p>{{ item }}</p></a>
        {% endfor %}
    {% else %}
        <p>Here is a link with a list of possible majors: <a href="{{text[3]}}">{{text[3]}}</a></p>
        <h2>{{ headers[4] }}</h2>
        <p class="bold">{{ text[4] }}</p>
        <h2>{{ headers[-1] }}</h2>
        {% for i in text[-1] %}
          <a href={{i}}><p>{{ i }}</p></a>
        {% endfor %}
    {% endif %}
</body>
<script>
    console.log(text[0])
</script>
</html>