<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/greet.css">
    <title>Document</title>
</head>
<body>
    {% for index in range(0, headers | length)%}
        {% if index+1 == headers | length %}
            <h2>{{ headers[-1] }}</h2>
            {% for i in text[-1] %}
                <a href={{i}}><p>{{ i }}</p></a>
            {% endfor %}
        {% elif headers[index] == 'Subjects' or headers[index] == 'Majors'  %}
            <h2>{{ headers[index] }}</h2>
            {% if country == 'UK' %}
                <p>Here is a link with a list of possible courses: <a href="{{text[index]}}">{{text[index]}}</a></p>
            {% else %}
                <p>Here is a link with a list of possible majors: <a href="{{text[3]}}">{{text[3]}}</a></p>
            {% endif %}
        {% elif headers[index] == 'Acceptance Rate'%}
            <h2>{{ headers[index] }}</h2>
            <p>    {{ text[index] }}</p>
        {% elif headers[index] == 'Deadline'%}
            <h2>{{ headers[index] }}</h2>
            <p>    {{ text[index] }}</p>
        {% elif headers[index] == 'Location'%}
            <h2>{{ headers[index] }}</h2>
            <p>    {{ text[index][0] }}</p>
            {%for place in text[index][-1]%}
                <h3>{{place}}</h3>
                {%for item in text[index][-1][place]%}
                    {% if item == "nothing found"%}
                        <p>{{item}}</p>
                    {%else%}
                        {%for key in item%}
                            <p class="location_info">{{key}}: {{item[key]}}</p>
                        {%endfor%}
                        <p><br></p>
                    {%endif%}
                {%endfor%}
            {%endfor%}
        {% else %}
            <h2>{{headers[index]}}</h2>
            {% for item in text[index] %}
                <p> - {{ item }}</p>
            {% endfor %}
        {%endif%}
    {% endfor %}



</body>
<script>
    console.log(text[0])
</script>
</html>